<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>WeatherLY</title>
</head>
<body>
    <div></div>
     {{>header}}

    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="m1"></p>
    <p id="m2"></p>

    {{>footer}}
</body>
<script src="./js/script.js"></script>
</html>